
NEXT_PUBLIC_FIREBASE_API_KEY=projects/leelu-v2/staging/NEXT_PUBLIC_FIREBASE_API_KEY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=projects/leelu-v2/staging/NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN
NEXT_PUBLIC_FIREBASE_PROJECT_ID=projects/leelu-v2/staging/NEXT_PUBLIC_FIREBASE_PROJECT_ID
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=projects/leelu-v2/staging/NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=projects/leelu-v2/staging/NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID
NEXT_PUBLIC_FIREBASE_APP_ID=projects/leelu-v2/staging/NEXT_PUBLIC_FIREBASE_APP_ID
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=projects/leelu-v2/staging/NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID

NEXT_PUBLIC_BASE_URL=projects/leelu-v2/staging/NEXT_PUBLIC_BASE_URL
DOMAIN_URL=projects/leelu-v2/staging/DOMAIN_URL
ALLOWED_ORIGIN=projects/leelu-v2/staging/ALLOWED_ORIGIN
ALLOWED_HEADERS=projects/leelu-v2/staging/ALLOWED_HEADERS
ALLOWED_METHODS=projects/leelu-v2/staging/ALLOWED_METHODS
EXPOSED_HEADERS=projects/leelu-v2/staging/EXPOSED_HEADERS
MAX_AGE=projects/leelu-v2/staging/MAX_AGE
CREDENTIALS=projects/leelu-v2/staging/CREDENTIALS

STRIPE_SECRET_KEY=projects/leelu-v2/staging/STRIPE_SECRET_KEY
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=projects/leelu-v2/staging/NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY

NEXT_PUBLIC_CIRCLE_COMMUNITY_URL=projects/leelu-v2/staging/NEXT_PUBLIC_CIRCLE_COMMUNITY_URL
CIRCLE_API_KEY=projects/leelu-v2/staging/CIRCLE_API_KEY

ADMIN_EMAIL=projects/leelu-v2/staging/ADMIN_EMAIL
ADMIN_PASSWORD=projects/leelu-v2/staging/ADMIN_PASSWORD

SENDING_EMAIL=projects/leelu-v2/staging/SENDING_EMAIL
SENDING_PASSWORD=projects/leelu-v2/staging/SENDING_PASSWORD

ZOHO_CLIENT_ID_LILYCHYSTOFAT=projects/leelu-v2/staging/ZOHO_CLIENT_ID_LILYCHYSTOFAT
ZOHO_CLIENT_SECRET_LILYCHYSTOFAT=projects/leelu-v2/staging/ZOHO_CLIENT_SECRET_LILYCHYSTOFAT
ZOHO_CONTACT_LAYOUT_ID_LILYCHYSTOFAT=projects/leelu-v2/staging/ZOHO_CONTACT_LAYOUT_ID_LILYCHYSTOFAT
ZOHO_ACCOUNTS_DOMAIN_LILYCHYSTOFAT=projects/leelu-v2/staging/ZOHO_ACCOUNTS_DOMAIN_LILYCHYSTOFAT
ZOHO_API_DOMAIN_LILYCHYSTOFAT=projects/leelu-v2/staging/ZOHO_API_DOMAIN_LILYCHYSTOFAT
ZOHO_REFRESH_TOKEN_CRM_LILYCHYSTOFAT=projects/leelu-v2/staging/ZOHO_REFRESH_TOKEN_CRM_LILYCHYSTOFAT

ZOHO_REFRESH_TOKEN_CAMPAIGN_LILYCHYSTOFAT=projects/leelu-v2/staging/ZOHO_REFRESH_TOKEN_CAMPAIGN_LILYCHYSTOFAT
ZOHO_CAMPAIGNS_LISTKEY_LILYCHYSTOFAT=projects/leelu-v2/staging/ZOHO_CAMPAIGNS_LISTKEY_LILYCHYSTOFAT

ZOHO_REFRESH_TOKEN_ANALYTICS_LILYCHYSTOFAT=projects/leelu-v2/staging/ZOHO_REFRESH_TOKEN_ANALYTICS_LILYCHYSTOFAT
ZOHO_ANALYTICS_API_DOMAIN_LILYCHYSTOFAT=projects/leelu-v2/staging/ZOHO_ANALYTICS_API_DOMAIN_LILYCHYSTOFAT
ZOHO_ANALYTICS_ORG_ID_LILYCHYSTOFAT=projects/leelu-v2/staging/ZOHO_ANALYTICS_ORG_ID_LILYCHYSTOFAT
ZOHO_ANALYTICS_WORKSPACE_ID_LILYCHYSTOFAT=projects/leelu-v2/staging/ZOHO_ANALYTICS_WORKSPACE_ID_LILYCHYSTOFAT
ZOHO_ANALYTICS_VIEW_ID_LILYCHYSTOFAT=projects/leelu-v2/staging/ZOHO_ANALYTICS_VIEW_ID_LILYCHYSTOFAT

ZOHO_REFRESH_TOKEN_SALESIQ_LILYCHYSTOFAT=projects/leelu-v2/staging/ZOHO_REFRESH_TOKEN_SALESIQ_LILYCHYSTOFAT
ZOHO_SALESIQ_API_DOMAIN_LILYCHYSTOFAT=projects/leelu-v2/staging/ZOHO_SALESIQ_API_DOMAIN_LILYCHYSTOFAT
NEXT_PUBLIC_SALESIQ_PORTAL=projects/leelu-v2/staging/NEXT_PUBLIC_SALESIQ_PORTAL
NEXT_PUBLIC_SALESIQ_WIDGET_CODE=projects/leelu-v2/staging/NEXT_PUBLIC_SALESIQ_WIDGET_CODE
